body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f5f7;
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 230px;
    background: #e9ecef;
    height: 100vh;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.sidebar h2 {
    color: #FF9E18;
}

.sidebar a {
    display: block;
    padding: 12px;
    margin: 5px 0;
    color: #333;
    text-decoration: none;
    border-radius: 8px;
}

.sidebar a:hover {
    background: #dcdcdc;
    color: #FF9E18;
}

/* MAIN */
.main {
    flex: 1;
}

/* TOPO */
.topbar {
    padding: 15px;
    background: #ffffff;
    border-bottom: 1px solid #ddd;
}

/* INPUT */
.topbar input {
    width: 300px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* CONTEÚDO */
.content {
    padding: 25px;
}

/* TÍTULO */
.titulo {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    border-left: 6px solid #FF9E18;
    padding-left: 10px;
}

/* CARD GRANDE */
.card-info {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

/* GRID */
.grid {
    display: flex;
    gap: 20px;
}

/* CARDS PEQUENOS */
.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    flex: 1;
}

/* DESTAQUE */
.valor {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

/* BOTÕES */
button {
    background: #FF9E18;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}
``
